.container {
    background-color: #00B227;
    color: #fff;
    margin: 0 auto;
    width: 60%;
}

.margin-100 {
    margin-bottom: 100px;
}

.twoCol-left {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}

.twoCol-right {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}

.twoCol-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

@media (max-width: 768px) {
    .container {
        background-color: #0D5C00;
        margin: 0 auto;
        width: 80%;
    }
}

@media (max-width: 530px) {
    .container {
        background-color:#000; 
        margin: 0 auto;
        width: 95%;
    }

    .twoCol-left, .twoCol-right, .twoCol-center {
        grid-template-columns: 1fr;
    }
}